{% extends 'app/base.html' %}
{% load static %}
{% block title %}Laptop{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url "laptop" %}" class="list-group-item list-group-item-action
    " aria-current="True" >All Laptops</a>
    <a href="{% url "laptopdata" 'Dell' %}" class="list-group-item list-group-item-action
    " aria-current="True" >Dell</a>
    <a href="{% url "laptopdata" 'HP' %}" class="list-group-item list-group-item-action
    " aria-current="True" >HP</a>
    <a href="{% url "laptopdata" 'Above' %}" class="list-group-item list-group-item-action
    " aria-current="True" >Above 50k</a>
    <a href="{% url "laptopdata" 'Below' %}" class="list-group-item list-group-item-action
    " aria-current="True" >Below 150000</a>
</div>
  </div>
  <div class="col-sm-8">
    
    <div class="row">
    {% for product in laptop %}
    <div class="col-sm-4 text-center mb-4 px-3">
    <a href="{% url 'product-detail' product.id %}" class="btn">
    <div class="item">
    <img src="{{product.product_image.url}}" alt="" height="225" class="mx-5">
    <div class="fw-bold">{{product.title}}</div>
    <div class="fw-bold">Rs.{{product.discounted_price}}
    <div class="fw-light text-decoration-line-through">{{product.selling_price}}</div>
    </div>
    </a>
    </div>
    </div>
    {% endfor %}
   </div>
  
 </div>
</div>

{% endblock main-content %}